<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table {
    opacity: 0.9;
    style=”float:right;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    width:30%;
}
tr:hover {background-color: #C0C0C0;}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #C0C0C0;}

th {
    background-color: #800000;
    color: white;
}

body {
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c8/Vaishno_devi.jpg");
   background-color: #B22222;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90% 100%;
}


</style>
<table>
<thead><tr><th>Name</th><th>Submit</th></tr></thead>
<tbody>
<tr><td>YRC</td><td><a>Submit</a></td></tr>
<tr><td>FINE IMPULSION FORM</td><td><a href="https://form.jotform.me/81914511476458">Submit</a></td></tr>
<tr><td>IC HELIPAD</td><td><a href="https://form.jotform.me/81914222176454">Submit</a></td></tr>
<tr><td>SA TO CEO</td><td><a href="https://form.jotform.me/81914578476471">Submit</a></td></tr>
<tr><td>WIRELESS SECTION</td><td><a href="https://form.jotform.me/81914665676470">Submit</a></td></tr>
<tr><td>OPERATION SECTION</td><td><a href="https://form.jotform.me/81914934676469">Submit</a></td></tr>
</tbody>
</table>