<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table {
    opacity: 0.9;
    style=”float:right;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    width:30%;
}
tr:hover {background-color: #C0C0C0;}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #C0C0C0;}

th {
    background-color: #800000;
    color: white;
}

body {
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c8/Vaishno_devi.jpg");
   background-color: #B22222;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90% 100%;
}


</style>
<table>
<thead><tr><th>Name</th><th>Submit</th></tr></thead>
<tbody>
<tr><td>YRC</td><td><a href="{{ url_for('yrc') }}">Submit</a></td></tr>
<tr><td>FINE IMPULSION FORM</td><td><a href="{{ url_for('fif') }}">Submit</a></td></tr>
<tr><td>IC HELIPAD</td><td><a href="{{ url_for('ic') }}">Submit</a></td></tr>
<tr><td>SA TO CEO</td><td><a href="{{ url_for('sa') }}">Submit</a></td></tr>
<tr><td>WIRELESS SECTION</td><td><a href="{{ url_for('ws') }}">Submit</a></td></tr>
<tr><td>OPERATION SECTION</td><td><a href="{{ url_for('os') }}">Submit</a></td></tr>
<tr><td>IC E&R</td><td><a href="{{ url_for('icer') }}">Submit</a></td></tr>
<tr><td>SALES REPORT</td><td><a href="{{ url_for('sr') }}">Submit</a></td></tr>
<tr><td>SHIFTING AND GARBAGE</td><td><a href="{{ url_for('sg') }}">Submit</a></td></tr>
<tr><td>BANGANGA</td><td><a href="{{ url_for('ban') }}">Submit</a></td></tr>
<tr><td>AUDIO SYSTEM</td><td><a href="{{ url_for('aus') }}">Submit</a></td></tr>
<tr><td>ACCOMODATION REPORT</td><td><a href="{{ url_for('ar') }}">Submit</a></td></tr>
<tr><td>BHAWAN</td><td><a href="{{ url_for('bha') }}">Submit</a></td></tr>
<tr><td>GAURI BHAWAN</td><td><a href="{{ url_for('gb') }}">Submit</a></td></tr>
<tr><td>JAMMU TO BHAWAN</td><td><a href="{{ url_for('jtb') }}">Submit</a></td></tr>
</tbody>
</table>